.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
  width: 14em;
  height: 14em;
  background-color: $clock-bg-color;
  border: 2px solid $clock-border-color;
  border-radius: 50%;
  }

.clock-text {
  color: $clock-text-color;
  font-size: 2.25rem;
  font-weight: 300;
}
