.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
  width: 100%; 

  .button {
    padding: .75rem;
    width: 49%;
  }
}

@media screen and (min-width: 640px) {
  .controls {
    width: 20rem;
  }
}
