.controls {
  display: flex;
  justify-content: space-between;
  
  .button {
    padding: .75rem;
    width: 49%;
  }
}

@media screen and (min-width: 640px) {
  .controls {
    margin-top: 6.41rem;
  }
}
